ul {
  padding: 0;
  list-style-type: none;
}

li {
  overflow: hidden;
  text-indent: -9999px;
  width: 400px;
  height: 2em;
}


/*Convert the code below into SASS mixin/map*/

li:nth-child(1) {
  background: red;
}

li:nth-child(2) {
  background: orange;
}

li:nth-child(3) {
  background: yellow;
}

li:nth-child(4) {
  background: green;
}

li:nth-child(5) {
  background: blue;
}

li:nth-child(6) {
  background: purple;
}

